#ST01A table thead tr th:nth-child(5),  /* Header, the  5th column ("Vessel name") */
#ST01A table thead tr th:nth-child(7),  /* Header, the  7th column ("Fleet suffix") */
#ST01A table tbody tr td:nth-child(5),  /* Body,   the  5th column ("Vessel name") */
#ST01A table tbody tr td:nth-child(7) { /* Body,   the  7th column ("Fleet suffix") */
  min-width: 256px;
}

#ST01B table thead tr th:nth-child(2),  /* Header, the  5th column ("Vessel name") */
#ST01B table thead tr th:nth-child(4),
#ST01B table tbody tr td:nth-child(2),  /* Body,   the  5th column ("Vessel name") */
#ST01B table tbody tr td:nth-child(4) {
  min-width: 256px;
}

/* LAYOUT ETC. */

.nav-tabs li {
    min-width: 128px;
    text-align: center;
}

.dataTables_paginate {
  float: left !important;
  margin-left: calc(20vw - 2em);
}

#glasspane {
	position: fixed;

	height: 100%;
	width: 100%;

	background-color: #99999933;

	z-index: 10000;
}

.loading {
	width: 320px;

	color: black;
	background-color: white;

	font-weight: bold;
	font-size: 100%;

	padding: 1em;
	margin-left: calc(50vw - 160px);
	margin-top: calc(40vh);

	text-align: center;

	border-radius: 1em;
	border: 2px solid gray;

	-webkit-box-shadow: -1px 10px 25px -11px rgba(0,0,0,0.75);
	-moz-box-shadow:    -1px 10px 25px -11px rgba(0,0,0,0.75);
	box-shadow:         -1px 10px 25px -11px rgba(0,0,0,0.75);
 }

.vscomp-dropbox-container  {
  z-index:99999 !important;
}
